.header-link {
  padding: 8px;
  background: #d2ff04;
  margin: 2px;
  border-radius: 4px;
}

.loginField {
  padding: 14px;
}

.site-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background: #03ffcb;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.loginForm {
  //background: #07f0ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginField {
  flex-basis: auto;
  display: flex;
}

.loginLabel {
  width: 100px;
  margin: auto;
}

.appButton {
  font-size: 120%;
  color: white;
  width: 100px;
  height: 40px;
  background: #04e4ff;
  border-radius: 6px;
}

.errorMessage {
  background: #ff0709;
  color: white;
  //z-index: -10;
}

.todoItem {
  padding: 6px;
  background: #fafafa;
  display: flex;
  height: 20px;
  flex-direction: row;
}

.todoItemContainer {
  padding: 1px;
}

.todoItemCheckBox {
  width: 20px;
  padding: 1px;
  //border-right: 2px solid #000000;
}

.todoItemDelete {
  width: 22px;
  //flex: 1;
  margin-left: 4px;
  //background: #07f0ff;
}

.todoItemTitle {
  padding: 2px;
  flex: 1;
  //background: #d2ff04;
  //border-right: 2px solid #000000;
}

.todosBox {
  //display: flex;
}

.todosForm {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#todoTitle {
  flex: 1;
  margin-right: 12px;
  font-size: 120%;
}

#addTodoButton {
}

#addTodoLine {
  display: flex;
  flex-direction: row;
  padding-bottom: 2px;
}

.todoItemDelete button {
  font-size: 24px;
  border: 0;
  color: red;
  background: none;
}

.todoItemDelete button {
  visibility: hidden;
}

.todoItem:hover .todoItemDelete button {
  visibility: visible
}

.headerContainer {
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.close-btn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.close-btn:hover {
  color: black;
}

.spinner {
//  margin: 10px auto;
//  width: 50px;
  //height: 40px;
  font-size: 10px;
  margin-left: auto;
}

.spinner > div {
  background-color: #c80203;
  height: 100%;
  width: 6px;
  margin: 1px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4)
  }
  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}